{% extends "main.html" %}

{% block header %}
    {% include "partials/header.html" %}
    <div class="homepage"></div>
{% endblock %}

<!-- Content -->
<main class="md-main homepage-content" data-md-component="main">
    <div class="md-main__inner md-grid">
      {% block site_nav %}
        {% if nav %}
          {% if page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "navigation" in page.meta.hide %}
          {% endif %}
          <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
            <div class="md-sidebar__scrollwrap">
              <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}
              </div>
            </div>
          </div>
        {% endif %}
        {% if "toc.integrate" not in features %}
          {% if page.meta and page.meta.hide %}
            {% set hidden = "hidden" if "toc" in page.meta.hide %}
          {% endif %}
          <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
            <div class="md-sidebar__scrollwrap">
              <div class="md-sidebar__inner">
                {% include "partials/toc.html" %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endblock %}
      {% block container %}
        <div class="md-content" data-md-component="content">
          <article class="md-content__inner md-typeset">
            {% block content %}
              {% include "partials/content.html" %}
            {% endblock %}
          </article>
        </div>
      {% endblock %}
      {% include "partials/javascripts/content.html" %}
    </div>
    {% if "navigation.top" in features %}
      {% include "partials/top.html" %}
    {% endif %}
  </main>

<!-- Application footer -->
{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}